
<!-- This is the Home view and will render into the main.hbs layout -->
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="/jquery-3.3.1.min.js"></script>

<script typt="text/javascript">
  $(document).ready(() => {
    $('body').on('click', '.mark', function (e) {
      console.log("clickkkkkked");
      e.preventDefault();
      var title = this.name;
      var link = this.value;
      var id = this.id;
      console.log(title);
      console.log(id);
      $.ajax({
        // all URLs are relative to http://localhost:3000/
        url: '/bookmarks',
        type: 'POST', // <-- this is POST, not GET
        data: {
                title: title,
                link: link,
              },
        success: (data) => {
          console.log("id");
          let added = '#mark' + id;
          $(added).append("Added to <a href='/source'>Bookmark</a>");
          console.log("called");
        }
      });
    });
  });
</script>

{{> header}}
<div class="container">
  <h2 class="tag-title">{{tag}}</h2>
  {{#each news as |news index|}}
  <div class="news">
    <div class="row">
      <div class="col-11">
      <span>{{{news.title}}}</span>
      </div>
      <div class="col-1">
        <button class="mark" id="{{index}}" name="{{{news.title}}}" value="{{{news.url}}}"><i class="far fa-star"></i></button>
        <p id="mark{{index}}"></p>
      </div>
    </div>
      <i>
        Source:
        <a href={{news.url}}>{{news.source}}</a>
      </i>
      <p>
        {{{news.snippet}}}
        <a href={{news.url}}>Read full article</a>
      </p>
  </div>
  {{/each}}
</div>
